
.main {
    color: white;
    width: 100%;
    height: 70vh;
    background-image: url(../img/about1\ \(1\).jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(0,0,0,.6);
    position: relative;
}

.main .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: 800;
    text-transform: capitalize;
}
@media (max-width: 767px) {
    .main .text {
        font-size: 40px;
    } 
}

.info {
    padding-top: 100px;
    padding-bottom: 100px;
}

.info .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info .content .text {
    flex-basis: 48%;
    margin: 10px;
}

@media (max-width: 767px) {
    .info .content .text {
        flex-basis: 100%;
        order: 2;
        margin: 10px;
    }
} 

.info .content .text h1 {
    margin-bottom: 20px;
    text-transform: capitalize;
}
@media (max-width: 767px) {
    .info .content .text h1 {
        font-size: 25px;
    }
}
.info .content .text p {
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #777;
    line-height: 1.5;
}
.info .text a {
    display: inline-block;
    color: chocolate;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: capitalize;
    border: 2px solid rgb(0, 0, 0);
    position: relative;
    transition: all .5s;
}
.info .text a::before,
.info .text a::after {
    content: '';
    position: absolute;
    top: 50%;
    background-color: rgb(0, 0, 0);
    width: 30px;
    height: 2px;
    transition: all .9s;
}
.info .text a::before {
    left: -18px;
}
.info .text a::after {
    right: -18px;
}
.info .text a:hover {
    background-color: chocolate;
    border-color: chocolate;
    color: white;
}
.info .text a:hover::before,
.info .text a:hover::after {
    background-color: chocolate;
}

.info .content .image {
    margin: 10px;
    flex-basis: 48%;
    height: 400px;
    background-image: url(../img/about1\ \(2\).jpg);
    background-size: cover;
}
@media (max-width: 767px) {
    .info .content .image {
        margin: 10px;
        flex-basis: 100%;
        order: 1;
    }
} 

.about {
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
}

.about .icon {
    margin-top: -50px;
}

.about .icon i {
    margin-right: 20px;
    margin-bottom: 20px;
    color: chocolate;
}
.about h3 span {
    color: chocolate;
}

.content2 {
    margin-top: 100px;
}
.content2 .text p:last-of-type {
    color: chocolate;
}

.img-fig {
    margin-right: 30px;
    flex-basis: 38%;
    order: -1;
}
@media (max-width: 767px) {
    .img-fig {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
}
.img-fig figure img {
    width: 100%;
    border-radius: 50%;
}
.img-fig figcaption {
    text-align: center;
    font-size: 1.4em;
    color: chocolate;
    font-weight: 700;
    margin-top: 10px;
}


